:root {
	--default-font: "consolas-bold";
	--bt-background-color: #000000;
	--bt-path-color: green;
	--bt-default-font-size: .7rem;
}

/*fonts first*/
@font-face {
	font-family: var(--default-font);
	src: url("./font/Consolas.woff") format("ttf");
}

body {
	font-family: var(--default-font) monospace Sans-Serif;
	background-color: var(--bt-background-color);
	color: #fff;
	font-size: var(--bt-default-font-size);
}